<!--The content below is only a placeholder and can be replaced.-->
<h1>Time flows: {{time}}s.</h1>
<button mat-raised-button (click)="addOneSecond()" color="accent">+1s</button>
<br/>
<br/>
<button mat-raised-button color="primary">ACCENT RAISED</button>
<button mat-button color="warn" class="mat-warn" >Click me!</button>
<button mat-button color="warn" class="mat-warn" >Basic</button>
       
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>
